<p id="notice"><%= notice %></p>

<p>
  <strong>Tennant:</strong>
  <%= @invoice.tennant_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invoice.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invoice.amount %>
</p>
<p>
  <strong>Type:</strong>
  <%= @invoice.invoice_type %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
