<!--<p id="notice"><%= notice %></p>
-->

<h1>Listing Tennants</h1>

<table class='tennants'>
  <thead>
    <tr class='header'>
      <th class='first_name'>First name</th>
      <th class='last_name'>Last name</th>
      <th class='property'>Property</th>
      <th class='email'>Email</th>
      <th class='phone'>Phone</th>
      <th class='notes'>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tennants.each do |tennant| %>
      <tr class="<%= cycle('list_line_odd','list_line_even') %>">
        <td class='first_name'><%= tennant.first_name %></td>
        <td class='last_name'><%= tennant.last_name %></td>
        <td class='property'><%= tennant.property_id %></td>
        <td class='email'><%= tennant.email %></td>
        <td class='phone'><%= tennant.phone %></td>
        <td class='notes'><%= tennant.notes %></td>
        <td><%= link_to 'Show', tennant %></td>
        <td><%= link_to 'Edit', edit_tennant_path(tennant) %></td>
        <td><%= link_to 'Destroy', tennant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tennant', new_tennant_path %>
