<%#        <% @transactions.each do |transaction| %>
          <tr class="<%= cycle('list_line_odd','list_line_even') %>">
            <td class='date'><%= best_in_place transaction, :date, { :class => "bip_input_field" } %></td>
            <td class='name'><%= best_in_place transaction, :name, { :class => "bip_input_field" } %></td>
            <td><%= best_in_place transaction, :category, :class => "bip_input_field", :as => :select, :collection => @categories %></td>
            <td class='owner'><%= best_in_place transaction, :owner_id, :class => "bip_input_field", :as => :select, :collection => {"" => "-", "1" => "Andrew", "2" => "Wayne"} %></td>
            <td class='tennant'><%= best_in_place transaction, :tennant_id, :class => "bip_input_field", :as => :select, :collection => @tennant_collection %></td>
            <td class="<%= update_currency_class(transaction.amount,'amount') %>"><%= best_in_place transaction, :amount, { :class => "bip_input_field", :display_with => :number_to_currency, :helper_options => {:unit => "£"}} %></td>
<%#            <td><%= link_to 'Show', transaction %><%#</td>%>
<%#            <td><%= link_to 'Edit', edit_transaction_path(transaction) %><%#</td>
            <td><%= link_to 'Destroy',transaction, method: :delete, data:{confirm:'Are you sure you want to delete this transaction?'} %</td>%>
          </tr>
<%#        <% end %>