<!DOCTYPE html>
<html>
<head>
  <title>Tbfinancesv1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='nav_container'>


		<div id='top_nav'>
			<ul id='top_nav_links'>
				<% if user_signed_in? %>
  					<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %><li>
  					<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
  					<div>Logged in as <strong><%= current_user.email %></strong></div>
				<% else %>
  					<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
					<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
				<% end %>
			</ul>
		</div>
		<div id='bottom_nav'>
			<%= link_to image_tag("dollar.png", :size => "60x60"),
			{:controller=>'/transactions', :action=>'index'} %>
			<span><%= link_to 'TB Finances', {:controller=>'/transactions', :action=>'index'} %></span>
			<ul id='navigation'>
				<li><%= link_to 'TAXES', taxes_path %></li>
				<li><%= link_to 'TRANSACTIONS', transactions_path %></li>
				<li><%= link_to 'OWNERS', owners_path %></li>
				<li><%= link_to 'INVOICES', invoices_path %></li>
				<li><%= link_to 'TENNANTS', tennants_path %></li>
				<li><%= link_to 'PROPERTIES', properties_path %></li>
			</ul>
		</div>
	</div>

<div id='wrapper'>

	<!-- the following if statements were added to be used with devise authentication. all notices will be displayed here rather than in the indidual templates-->

	<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	
	<%= yield %>
</div>

</body>
</html>
